[submodule "sources/u-boot"]
	path = sources/u-boot
	url = git@github.com:ai-blox/l4t-u-boot.git
[submodule "sources/hardware/nvidia/platform/t18x/common"]
	path = sources/hardware/nvidia/platform/t18x/common
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t18x-common.git
[submodule "sources/hardware/nvidia/platform/t18x/quill"]
	path = sources/hardware/nvidia/platform/t18x/quill
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t18x-quill.git
[submodule "sources/hardware/nvidia/platform/t19x/galen/kernel-dts"]
	path = sources/hardware/nvidia/platform/t19x/galen/kernel-dts
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t19x-galen-kernel-dts.git
[submodule "sources/hardware/nvidia/platform/t19x/jakku/kernel-dts"]
	path = sources/hardware/nvidia/platform/t19x/jakku/kernel-dts
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t19x-jakku-kernel-dts.git
[submodule "sources/hardware/nvidia/platform/t210/common"]
	path = sources/hardware/nvidia/platform/t210/common
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t210-common.git
[submodule "sources/hardware/nvidia/platform/t210/jetson"]
	path = sources/hardware/nvidia/platform/t210/jetson
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t210-jetson.git
[submodule "sources/hardware/nvidia/platform/t210/porg"]
	path = sources/hardware/nvidia/platform/t210/porg
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t210-porg.git
[submodule "sources/hardware/nvidia/platform/t19x/common"]
	path = sources/hardware/nvidia/platform/t19x/common
	url = git@github.com:ai-blox/l4t-hardware-nvidia-platform-t19x-common.git
[submodule "sources/hardware/nvidia/soc/t18x"]
	path = sources/hardware/nvidia/soc/t18x
	url = git@github.com:ai-blox/l4t-hardware-nvidia-soc-t18x.git
[submodule "sources/hardware/nvidia/soc/t19x"]
	path = sources/hardware/nvidia/soc/t19x
	url = git@github.com:ai-blox/l4t-hardware-nvidia-soc-t19x.git
[submodule "sources/hardware/nvidia/soc/t210"]
	path = sources/hardware/nvidia/soc/t210
	url = git@github.com:ai-blox/l4t-hardware-nvidia-soc-t210.git
[submodule "sources/hardware/nvidia/soc/tegra"]
	path = sources/hardware/nvidia/soc/tegra
	url = git@github.com:ai-blox/l4t-hardware-nvidia-soc-tegra.git
[submodule "sources/kernel/kernel-4.9"]
	path = sources/kernel/kernel-4.9
	url = git@github.com:ai-blox/l4t-kernel-kernel-4.9.git
[submodule "sources/kernel/nvgpu"]
	path = sources/kernel/nvgpu
	url = git@github.com:ai-blox/l4t-kernel-nvgpu.git
[submodule "sources/kernel/nvidia"]
	path = sources/kernel/nvidia
	url = git@github.com:ai-blox/l4t-kernel-nvidia.git
